body {
  font-family: 'Questrial', sans-serif;
  color: purple;
  margin: 0;
}

header {
  display: flex;
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2rem;
  font-weight: 700;
  border-right: 2px purple solid;
  border-bottom: 2px purple solid;
  padding: 0 20px;
  width: 20%;
  background-color: lavender;
}

.scoreboard-wrapper {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px purple solid;
  width: 80%;
  background-color: lavender;
}

.scoreboard {
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 500;
}

.progress-bar-wrapper {
  padding: 70px 0 0 0;
  width: 20%;
  display: flex;
  justify-content: center;
}

.progress-bar-container {
  border: 2px purple solid;
  width: 32px;
  height: 530px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background: linear-gradient(violet, purple);
}

.progress-bar-filling {
  visibility: visible;
  padding: 0;
  margin: 0;
  border-bottom: 2px purple solid;
  width: 32px;
  height: 530px;
  bottom: 0px;
  background-color: white;
  border-radius: 10px;
}

.gameboard-wrapper {
  width: 80%;
  height: auto;
  padding: 10px 50px 50px 50px;
}

#gameboard {
  border: 2px solid lavender;
  width: 80%;
  height: 560px;
}

td {
  border: 2px solid lavender;
  height: 100px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.active {
  border: 2px solid violet;
}

.to-delete {
  border: 2px solid blue;
}

button {
  display: block;
  font-family: 'Questrial', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: purple;
  background-color: lavender;
  border: 2px solid purple;
  width: 250px;
  height: 50px;

}

.gameboard-wrapper h1 {
  text-align: center;
  display: block;
  margin-right: 150px;
}

.gameboard-wrapper button {
  text-align: center;
  display: block;
  margin-left: 33%;
}

nav {
  background-color: purple;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: lavender;
  font-size: 1.2rem;
}

main {
  display: flex;
  justify-content: center;
}
#info {
  font-size: 1.5rem;
  margin: 50px;
  width: 70%;
  text-align: center;
}

@media screen and (max-width: 1450px) {

  header {
    display: block;
  }
  .title {
    width: 100%;
    border-right: none;
    padding: 0 0 0 20px;
  }

  .scoreboard-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 1150px) {

  .scoreboard {
    font-size: 1.2rem;
  }

  a {
    font-size: 1rem;
  }

  header {
    display: block;
  }
  .title {
    width: 100%;
    border-right: none;
    padding: 0 0 0 20px;
  }

  .scoreboard-wrapper {
    width: 100%;
  }

  #gameboard {
    width: 100%;
  }

  .gameboard-wrapper {
    width: 95%;
    padding: 0;
  }

  .progress-bar-wrapper {
    width: 5%;
  }
}

@media screen and (max-width: 885px) {

  .scoreboard {
    font-size: 1rem;
    padding: 10px;
  }

  nav {
    height: 50px;
  }

  a {
    font-size: .8rem;
  }

  header {
    display: block;
  }
  .title {
    width: 100%;
    font-size: 1rem;
    border-right: none;
    padding: 0 0 0 20px;
  }

  .scoreboard-wrapper {
    width: 100%;
  }

  #gameboard {
    width: 100%;
    height: 100%;
  }

  .gameboard-wrapper {
    width: 95%;
    padding: 0;
  }

  .progress-bar-wrapper {
    width: 5%;
  }

  .gameboard-wrapper h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 660px) {

  .scoreboard {
    font-size: .7rem;
    padding: 10px;
  }

  nav {
    height: 50px;
  }

  a {
    font-size: .5rem;
  }

  header {
    display: block;
  }
  .title {
    width: 100%;
    font-size: .9rem;
    border-right: none;
    padding: 0 0 0 20px;
  }

  .scoreboard-wrapper {
    width: 100%;
  }

  #gameboard {
    width: 100%;
    height: 100%;
  }

  .gameboard-wrapper {
    width: 100%;
    padding: 0;
  }

  .progress-bar-wrapper {
    display: none;
  }

  .gameboard-wrapper h1 {
    font-size: 1.5rem;
  }
}
