body {
  font-family: 'Questrial', sans-serif;
  color: purple;
}

header {
  display: flex;
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2rem;
  font-weight: 700;
  border: 2px purple solid;
  padding: 0 30px;
  width: 20%;
  background-color: lavender;
}

.scoreboard-wrapper {
  display: flex;
  justify-content: space-around;
  border: 2px purple solid;
  width: 80%;
  background-color: lavender;
}

.scoreboard {
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 500;
}

.progress-bar-wrapper {
  padding: 100px 0 100px 95px;
  width: 10%;
  display: flex;
  justify-content: flex-start;
}

.progress-bar-container {
  border: 2px purple solid;
  width: 32px;
  height: 530px;
  display: flex;
  justify-content: center;
  border-radius: 17px;
  background: linear-gradient(violet, purple);
}

.progress-bar-filling {
  visibility: visible;
  padding: 0;
  margin: 0;
  border-bottom: 2px purple solid;
  width: 32px;
  height: 530px;
  bottom: 0px;
  background-color: white;
  border-radius: 17px;
}

.gameboard-wrapper {
  /*border: 1px solid black; for tablet */
  width: 80%;   /*25 and 75 percent for tablet*/
  height: auto;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  padding: 10px 50px 50px 50px;
  /*padding: 50px 25px 50px 0;*/
}

#gameboard {
  border: 2px solid lavender;
  width: 95%;
  height: 560px;
}

td {
  border: 2px solid lavender;
  height: 100px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.active {
  border: 2px solid violet;
}

.to-delete {
  border: 2px solid blue;
}

button {
  display: block;
  font-family: 'Questrial', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: purple;
  background-color: lavender;
  border: 2px solid purple;
  width: 250px;
  height: 50px;

}

.gameboard-wrapper h1 {
  text-align: center;
  display: block;
  margin-right: 150px;
}

.gameboard-wrapper button {
  text-align: center;
  display: block;
  margin-left: 33%;
}

nav {
  background-color: purple;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: lavender;
  font-size: 1.2rem;
}

main {
  display: flex;
  justify-content: center;
}
#info {
  font-size: 1.5rem;
  margin: 50px;
}
