header {
  display: flex;
}

main {
  display: flex;
  justify-content: space-around;
}



.title {
  display: inline-block;
  border: 1px black solid;
  padding: 10px 30px;
  width: 20%;
}

.scoreboard-wrapper {
  display: flex;
  justify-content: space-around;
  border: 1px black solid;
  width: 80%;
}

.scoreboard {
  padding: 20px;
}

.progress-bar-wrapper {
  padding: 70px 30px 70px 30px;
  width: 20%;
  /*border: 1px black solid;*/
  display: flex;
  justify-content: center;
}

.progress-bar-container {
  border: 1px black solid;
  width: 40px;
  height: 350px;
  display: flex;
  justify-content: center;
}

.progress-bar-filling {
  padding: 0;
  margin: 0;
  border-bottom: 1px black solid;
  width: 40px;
  height: 200px;
  bottom: 0px;
}

.gameboard-wrapper {
  /*border: 1px solid black; for tablet */
  width: 80%;   /*25 and 75 percent for tablet*/
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0 70px 0;
}

#gameboard {
  border: 2px solid violet;
  width: 80%;
  height: 560px;
}

td {
  border: 2px solid violet;
  height: 100px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
